domain:443 {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  # Use the ACME DNS-01 challenge to get a cert for the configured domain.
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }

  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode gzip

  # Notifications redirected to the WebSocket server
  reverse_proxy /notifications/hub 192.168.1.126:3012

  # Proxy everything else to Rocket
  reverse_proxy 192.168.1.126:8086
}

domain:443 {
  # Use the ACME DNS-01 challenge to get a cert for the configured domain.
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }
  
  reverse_proxy 192.168.1.126:6875
}

domain:443 {
  # Use the ACME DNS-01 challenge to get a cert for the configured domain.
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }
  
  reverse_proxy 192.168.1.126:9443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

domain:443 {
  # Use the ACME DNS-01 challenge to get a cert for the configured domain.
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }
  
  reverse_proxy 192.168.1.122:8080
}

domain:443 {
  # Use the ACME DNS-01 challenge to get a cert for the configured domain.
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }
  
  reverse_proxy 192.168.1.122:3000
}